body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: rgba(206, 206, 226, 0.53);
}
h1{
    color: rgba(103, 103, 229, 0.9);
    font-family: "Poppins", sans-serif;
}
p{
    color: rgba(50, 50, 150, 0.8);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 0 20px;
}